/*
.td-header-mobile-wrap {
  display: none !important;
}

.td-header-desktop-wrap {
  display: block !important;
}
*/

.block-title > span {
  width: 100%;
}

.entry-title {
  font-family: 'Suez One' !important;
}

article, .td-excerpt {
  font-family: 'Roboto' !important;
}

.single .td-main-content-wrap,
.page   .td-main-content-wrap {
  background-image: url("../img/fondo_futura_lineas.png");
}

.td-main-content-wrap > div,  td-container-wrap > div {
  background: white;
}

.podcast_player {
  margin-left: auto;
  margin-right: auto;
  max-width: 75vw;
}

.tdb_header_menu .tdb-menu > li > a {
  font-family: 'Bebas Neue' !important;
}

.tdb-mobile-menu-button {
  background-image: url("../img/logo_futura_nuevo-300x300.png");
  background-size: cover;

}

.tdb-mobile-menu-button i {
  opacity: 0;
  visibility: hidden;
}

.header-futura-mobile {
  display: none;
}

@media(max-width: 767px) {
  .header-futura-mobile {
    display: block;
    padding-top: .2rem;
    padding-bottom: .2rem;
  }
}
