.menu_futura, div.td-header-menu-wrap.td-header-menu-no-search.td-affix:not(#wp_futura_player_header):not(#wp_futura_social_icons) {
  top: 0vh !important;
  margin-top: 9vh !important;
}

@media(max-width: 600px) {
  .menu_futura, div.td-header-menu-wrap.td-header-menu-no-search.td-affix:not(#wp_futura_player_header):not(#wp_futura_social_icons) {
    top: 0vh !important;
    margin-top: 14vh !important;
  }
}

#wp_futura_player_header {
  top: 32px !important;
}
